.header {
  margin-bottom: 32px;
  &__back {
    display: inline-block;
    margin-bottom: 24px;
    padding: 0;
    border: 0;
    cursor: pointer;
    background: transparent;
    &:focus {
      outline: none;
    }
    .icon {
      font-size: 32px;
    }
  }
  &__col {
    margin-top: 16px;
    &:first-child {
      margin-top: 0;
    }
    &--grow {
      flex-grow: 2;
    }
    &--title {
      min-width: 280px;
    }
    &--auto {
      text-align: center;
    }
    .btn {
      white-space: nowrap;
    }
  }
  &__caption {
    display: block;
    margin-bottom: 8px;
    color: $gray-600;
  }
  &__description {
    strong {
      font-weight: $font-weight-medium;
      color: $primary;
    }
  }

  @include media-breakpoint-up(md) {
    &__row {
      display: flex;
      align-items: center;
    }
    &__col {
      margin-top: 0;
      &--auto {
        margin-left: auto;
        text-align: right;
      }
    }
    &__caption {
      display: block;
      margin-bottom: 24px;
    }
  }

}
