.payment {
  &__title {
    display: block;
    margin-bottom: 24px;
    font-size: 22px;
    font-weight: $font-weight-medium;
    color: $gray-800;
  }
  &__col {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
  }
  &__grow {
    flex-grow: 2;
  }
  @include media-breakpoint-up(md) {
    &__row {
      margin-bottom: 56px;
    }
    &__col {
      margin-bottom: 0;
    }
  }
}
